body {
    box-sizing: border-box;
    background: black;
    position: relative;
}

/* 버튼 3D 효과 - 버튼 뒤집기 */
.frame {
    position: relative;
    width: 200px;
    height: 50px;
    padding: 20px 0;
    text-align: center;
}

.custom-btn {
    position: relative;
    width: 70%;
    height: inherit;
    border-radius: 5px;
    background: black;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-12 {
    position: absolute;
    top: 30%;
    left: 0;
    border: none;
    box-shadow: none;
    -webkit-perspective: 230px;
    perspective: 230px;
    line-height: 3em;
}

.btn-12 span {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

/* 버튼 3D 효과 - 버튼 뒤집기 */

/* 슬라이딩 버튼 효과 */
#holder {
    /* -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none; */
    background: white;
    padding: 10px;
    width: 250px;
    margin: 0 auto;
    position: absolute;
    top: 400%;
    left: 0;
    transform: translateY(-65%);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.button {
    background: #3D4C53;
    margin: 20px auto;
    width: 200px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    transition: .2s;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

.btnTwo {
    position: relative;
    width: 200px;
    height: 100px;
    margin-top: -100px;
    padding-top: 2px;
    background: #26A69A;
    left: -250px;
    transition: .3s;
    line-height: 1em;
}

.btnText {
    color: white;
    transition: .3s;
}

.btnText2 {
    margin-top: 63px;
    margin-right: -130px;
    color: #FFF;
}

.button:hover .btnTwo {
    /*When hovering over .button change .btnTwo*/
    left: -130px;
}

.button:hover .btnText {
    /*When hovering over .button change .btnText*/
    margin-left: 65px;
}

.button:active {
    /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

/* 슬라이딩 버튼 효과 */

/* 원자 모양 버튼 - 호버시 도트 회전효과 */
:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --btn-w: 10em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background: var(--bg);
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
} */
.container {
    position: absolute;
    top: 600%;
    left: 0;
}

.btn {
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;
}

.dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}

.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
        0 0 2em var(--primary);
}

.btn:hover .dot,
.btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}

@keyframes atom {
    0% {
        transform: translateX(0) rotate(0);
    }

    30% {
        transform: translateX(var(--tr-X)) rotate(0);
    }

    50% {
        transform: translateX(var(--tr-X)) rotate(180deg);
    }

    80% {
        transform: translateX(0) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);
    }
}

/* 원자 모양 버튼 - 호버시 도트 회전효과 */

/* 무한 회전 이미지 */
img {
    animation: rotate_image 6s linear infinite;
    transform-origin: 50% 50%;
    position: absolute;
    top: 800%;
    left: 2%;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}
/* 무한 회전 이미지 */